/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');

$colorPrimary1: hsl(22, 28%, 21%);
$colorPrimary2: hsl(22, 28%, 29%);
$colorPrimary3: hsl(22, 28%, 37%);
$colorPrimary4: hsl(22, 28%, 45%);
$colorPrimary5: hsl(22, 31%, 52%);
$colorPrimary6: hsl(22, 31%, 60%);
$colorPrimary7: hsl(22, 31%, 67%);
$colorPrimary8: hsl(20, 31%, 74%);
$colorPrimary9: hsl(22, 31%, 81%);
$colorPrimary10: hsl(22, 31%, 88%);
$colorSuccess: #198754;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorBlack: #000000;
$colorDark: #111827;
$colorGray: #4b5563;
$colorLight: #f3f4f6;
$colorWhite: #ffffff;
$fontPrimary: 'Inter var', sans-serif;
$transition: all 0.15s ease-in-out;
$spacingTight: -0.025em;
$spacingWide: 0.025em;
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $colorWhite;
    color: $colorDark;
    font-family: $fontPrimary;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn {
    font-size: 1rem;
    color: $colorWhite;
    background-color: $colorPrimary5;
    padding: 0.75rem 1rem;
    transition: $transition;
    border-radius: $radius-md;
    border: transparent;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: $colorPrimary3;
}

section {
    padding-top: 5rem;
}

/* NAVBAR */
/* ==================================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: grid;
    place-items: center;
    box-shadow: $shadow-md;
    background-color: $colorWhite;
    z-index: 10;
}

.nav-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
}

.nav-links,
.nav-buttons {
    display: none;
}

.nav-links {
    gap: 1rem;
    .nav-link {
        color: $colorDark;
        font-size: 1.1rem;
        transition: $transition;
    }
    .nav-link:hover {
        color: $colorPrimary5;
    }
}

.nav-buttons {
    gap: 1.1rem;
    align-items: center;
    .nav-cart-btn {
        display: flex;
        color: $colorDark;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        .cart-icon-container {
            position: relative;
            display: grid;
            place-items: center;
            color: $colorPrimary1;
            .nav-cart-icon {
                font-size: 2.1rem;
                transition: $transition;
            }
            .cart-value {
                position: absolute;
                top: -0.7rem;
                right: -0.7rem;
                background: $colorPrimary5;
                width: 1.5rem;
                height: 1.5rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
                color: white;
                font-weight: bold;
                font-size: 0.9rem;
            }
        }
    }
    .nav-cart-btn:hover .nav-cart-icon {
        color: $colorPrimary2;
    }
    .button-divider {
        height: 2.4rem;
        width: 0.45rem;
        background-color: $colorPrimary5;
        border-radius: 10rem;
    }
    .nav-login-btn {
        display: block;
        background-color: $colorPrimary3;
        padding: 0.5rem 1rem;
        border-radius: $radius-md;
        color: $colorWhite;
        border: transparent;
        font-size: 1rem;
        cursor: pointer;
        transition: $transition;
    }
    .nav-login-btn:hover {
        background-color: $colorPrimary4;
    }
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
        span {
            color: $colorPrimary5;
        }
    }
    .nav-toggle-btn {
        background-color: transparent;
        border: transparent;
        font-size: 1.7rem;
        color: $colorPrimary5;
        cursor: pointer;
        transition: $transition;
    }
    .nav-toggle-btn:hover {
        color: $colorPrimary3;
    }
}

@media screen and (min-width: $width-md) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-toggle-btn {
        display: none;
    }
    .nav-links,
    .nav-buttons {
        display: flex;
    }
}

/* FOOTER */
/* ==================================================================================================== */

.footer {
    height: 6rem;
    background-color: #222;
    color: $colorWhite;
    display: grid;
    place-items: center;
    padding: 1.25rem;
    h6 {
        font-weight: 500;
        span {
            color: $colorPrimary5;
        }
    }
}

@media screen and (min-width: $width-md) {
    .footer {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}

/* SIDEBAR */
/* ==================================================================================================== */

.sidebar {
    position: fixed;
    background: lighten($colorPrimary10, 5%);
    inset: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 10;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-container {
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    h4 {
        span {
            color: $colorPrimary5;
        }
    }
    .sidebar-toggle-btn {
        background-color: transparent;
        border: transparent;
        color: $colorPrimary2;
        transition: $transition;
        align-self: flex-end;
        cursor: pointer;
        svg {
            font-size: 1.9rem;
        }
    }
    .sidebar-toggle-btn:hover {
        color: $colorPrimary5;
    }
}

.sidebar-links {
    display: grid;
}

.sidebar-link {
    color: $colorDark;
    font-size: 1.1rem;
    transition: $transition;
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.sidebar-link:hover {
    padding-left: 0.5rem;
    background-color: $colorPrimary9;
}

.sidebar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1.1rem;
    .sidebar-cart-btn {
        display: flex;
        color: $colorDark;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        .cart-icon-container {
            position: relative;
            display: grid;
            place-items: center;
            color: $colorPrimary1;
            .sidebar-cart-icon {
                font-size: 2.1rem;
                transition: $transition;
            }
            .cart-value {
                position: absolute;
                top: -0.7rem;
                right: -0.7rem;
                background: $colorPrimary5;
                width: 1.5rem;
                height: 1.5rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
                color: white;
                font-weight: bold;
                font-size: 0.9rem;
            }
        }
    }
    .sidebar-cart-btn:hover .sidebar-cart-icon {
        color: $colorPrimary2;
    }
    .button-divider {
        height: 2.4rem;
        width: 0.45rem;
        background-color: $colorPrimary5;
        border-radius: 10rem;
    }
    .sidebar-login-btn {
        display: block;
        background-color: $colorPrimary3;
        padding: 0.5rem 1rem;
        border-radius: $radius-md;
        color: $colorWhite;
        border: transparent;
        font-size: 1rem;
        cursor: pointer;
        transition: $transition;
    }
    .sidebar-login-btn:hover {
        background-color: $colorPrimary4;
    }
}

@media screen and (min-width: $width-md) {
    .sidebar {
        transform: translateX(100%);
    }
}

/* ERROR PAGE */
/* ==================================================================================================== */

.error-page {
    height: calc(100vh - 6rem);
    display: grid;
    place-items: center;
    row-gap: 0;
    background-color: $colorPrimary10;
    .error-page-container {
        text-align: center;
        h1 {
            font-size: 6rem;
            margin-bottom: 0.25rem;
        }
        h3 {
            margin-bottom: 0.25rem;
        }
        .btn {
            text-transform: uppercase;
            margin-top: 1rem;
        }
        .btn:hover {
            background-color: $colorPrimary3;
        }
    }
}

.error {
    padding: 5rem 0;
    text-align: center;
    font-size: 2rem;
    min-width: 400px;
}

/* ABOUT PAGE */
/* ==================================================================================================== */

.about-page {
    min-height: calc(100vh - 5rem);
    .about-page-container {
        max-width: $width-lg;
        display: grid;
        row-gap: 1rem;
        width: 90vw;
        margin: 0 auto;
        padding: 3rem 0;
        img {
            max-height: 33rem;
        }
        .about-info {
            .title-underline {
                height: 5px;
                background-color: $colorPrimary5;
                width: 100px;
                margin-top: 0.25rem;
                text-align: center;
                border-radius: 9999px;
                margin-bottom: 1rem;
            }
            p {
                line-height: 2;
                font-weight: 500;
            }
        }
    }
    @media screen and (min-width: $width-md) {
        .about-page-container {
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    }
}

/* PAGE HERO */
/* ==================================================================================================== */

.page-hero {
    height: 10rem;
    background-color: $colorPrimary10;
    display: grid;
    align-items: center;
    .page-hero-container {
        max-width: $width-lg;
        margin: 0 auto;
        width: 90vw;
    }
    h4 {
        color: $colorPrimary2;
        text-transform: capitalize;
        .link {
            color: $colorPrimary5;
        }
    }
}

/* HOME PAGE */
/* ==================================================================================================== */

.home-page {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 6rem);
}

.home-page-container {
    max-width: $width-lg;
    margin: 3rem auto 5rem auto;
    width: 90vw;
}

.home-page-header {
    text-align: center;
    h3 {
        max-width: 300px;
        margin: 0 auto;
        line-height: 1.25;
        margin-bottom: 1rem;
    }
    p {
        line-height: 2;
        max-width: 450px;
        margin: 0 auto 1rem auto;
    }
    .btn {
        margin-bottom: 1rem;
        padding: 0.6rem 1rem;
    }
    @media screen and (min-width: $width-sm) {
        h3 {
            max-width: 350px;
        }
        p {
            max-width: 450px;
        }
    }
}

.home-page-image-container {
    display: block;
    position: relative;
    width: 70vw;
    max-width: 450px;
    margin: 2rem auto 0rem auto;
    .hero-img-main {
        width: 100%;
        height: 500px;
        position: relative;
        border-radius: $radius-md;
        display: block;
        object-fit: cover;
    }
    .hero-img-secondary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 150px;
        transform: translate(-50%, 17%);
        border-radius: $radius-md;
    }
    @media screen and (max-width: $width-lg) {
        .hero-img-secondary {
            display: none;
        }
    }
}
.home-page-image-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: $colorPrimary7;
    bottom: -5%;
    left: -8%;
    border-radius: $radius-md;
}

@media screen and (min-width: $width-lg) {
    .home-page-image-container {
        width: unset;
        margin: 2rem auto 2rem auto;
    }

    .home-page-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
    .home-page-header {
        align-self: center;
        text-align: left;
        h3 {
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }
        p {
            line-height: 2;
            max-width: 500px;
            margin-bottom: 1.5rem;
        }
    }
}

.home-page-services {
    background-color: $colorPrimary10;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.home-page-services-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 85vw;
    display: grid;
    row-gap: 2rem;
}

.home-page-service {
    background-color: $colorPrimary7;
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: $radius-sm;
    .service-icon {
        font-size: 2rem;
        background-color: $colorPrimary10;
        width: 50px;
        height: 50px;
        padding: 0.75rem;
        border-radius: 9999px;
        margin-bottom: 0.5rem;
    }
    h5 {
        margin-bottom: 0.25rem;
    }
}

@media screen and (min-width: $width-md) {
    .home-page-services-container {
        width: 90vw;
        display: flex;
        column-gap: 1.5rem;
    }
}

.home-page-contact {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.home-page-contact-container {
    max-width: $width-md;
    margin: 0 auto;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
}

.contact-info {
    h5 {
        margin-bottom: 0.5rem;
    }
    p {
        line-height: 1.75;
        color: darken($colorGray, 10%);
    }
}

.contact-form {
    display: flex;
    .contact-form-input {
        border: 2px solid #222;
        border-radius: $radius-sm;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: auto;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    .contact-form-input:focus {
        outline: none;
    }
    .contact-form-input::placeholder {
        color: darken($colorGray, 10%);
    }
    .submit-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 2px solid #222;
        border-left: 0px;
        flex: none;
        color: $colorDark;
        font-size: 1.1rem;
    }
    .submit-btn:hover {
        background-color: $colorPrimary6;
    }
}

@media screen and (min-width: $width-md) {
    .home-page-contact-container {
        width: 90vw;
    }
}

@media screen and (min-width: $width-xl) {
    .home-page-contact-container {
        max-width: $width-lg;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 2rem;
    }
}

/* FEATURED PRODUCTS */
/* ==================================================================================================== */

.featured-products {
    background-color: rgb(233, 244, 248);
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    position: relative;
    display: grid;
    place-items: center;
    h4 {
        margin-bottom: 0.25rem;
    }
    .title-underline {
        height: 0.25rem;
        width: 100px;
        background-color: $colorPrimary5;
        margin: 0 auto;
        border-radius: $width-sm;
        margin-bottom: 3rem;
    }
    .btn {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        margin-top: 2rem;
    }
}

.featured-products-container {
    display: grid;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    max-width: $width-lg;
}

.featured-product {
    display: grid;
    grid-template-rows: 1fr auto;
    .featured-product-img-container {
        position: relative;
        display: grid;
        place-items: center;
        background-color: #222;
        border-radius: $radius-lg;
        .featured-product-img {
            border-radius: $radius-md;
            transition: $transition;
            width: 100.1%;
        }
        .product-link {
            color: $colorWhite;
            position: absolute;
            opacity: 0;
            background-color: $colorPrimary4;
            width: 40px;
            height: 40px;
            border-radius: 9999px;
            display: grid;
            place-items: center;
            transition: $transition;
            .product-icon {
                font-size: 1.1rem;
            }
        }
        .product-link:hover {
            background-color: $colorPrimary3;
        }
    }
    .featured-product-img-container:hover .featured-product-img {
        opacity: 0.7;
    }
    .featured-product-img-container:hover .product-link {
        opacity: 1;
    }
    .featured-product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        h6 {
            text-transform: capitalize;
        }
        p {
            color: darken($colorPrimary5, 5%);
            font-weight: 600;
        }
    }
}

@media screen and (min-width: $width-md) {
    .featured-products-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1.5rem;
        width: 90vw;
    }
}

@media screen and (min-width: $width-lg) {
    .featured-products-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .featured-product-info h6 {
        font-size: 18px;
    }
}

/* LOADER */
/* ==================================================================================================== */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: $colorPrimary5;
    animation: spinner 0.6s linear infinite;
}

/* SINGLE PRODUCT PAGE */
/* ==================================================================================================== */

.single-product-page {
    min-height: calc(100vh - 6rem);
}

.single-product-container {
    max-width: $width-lg;
    margin: 3rem auto;
    width: 85vw;
    min-height: calc(100vh - 25rem);
    .products-link {
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
}

.single-product {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.single-product-img-container {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    img {
        cursor: pointer;
        min-height: 60px;
    }
}

.single-product-info-container {
    display: grid;
    row-gap: 0.5rem;
}

.product-main-img {
    border-radius: $radius-sm;
    max-height: 450px;
}

.product-alt-img {
    border-radius: $radius-sm;
    filter: brightness(60%);
}

.active {
    filter: brightness(100%);
}

.single-product-name {
    text-transform: capitalize;
}

.single-product-price {
    color: $colorPrimary4;
}

.single-product-desc {
    color: $colorGray;
    line-height: 1.75;
}

.single-product-info {
    display: grid;
    grid-template-columns: 125px 1fr;
    color: $colorDark;
    font-weight: 500;
    span {
        font-weight: 600;
    }
}

hr {
    max-height: 1px;
}

@media screen and (min-width: $width-lg) {
    .single-product {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .product-main-img {
        max-height: 325px;
    }
    .single-product-img-container {
        display: block;
    }
    .product-main-img {
        margin-bottom: 1.5rem;
    }
}

/* STARS */
/* ==================================================================================================== */

.stars-reviews {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}

.stars {
    color: #ffc107;
    display: flex;
}

.reviews {
    font-size: 14px;
}

/* ADD TO CART  */
/* ==================================================================================================== */

.add-to-cart {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.colors {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 18px;
    }
    div {
        display: flex;
        gap: 0.3rem;
    }
}

.color-btn {
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: none;
    background-color: $colorDark;
    cursor: pointer;
    display: grid;
    place-items: center;
    opacity: 0.5;
    svg {
        font-size: 10px;
        color: $colorWhite;
    }
}

.active-btn {
    opacity: 1;
}

.btn-container {
    .btn {
        padding: 0.5rem 1rem;
    }
}

.amount-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-bottom: 1rem;
}

.amount-btn {
    background-color: transparent;
    border: transparent;
    font-size: 14px;
    cursor: pointer;
}

/* PRODUCTS PAGE */
/* ==================================================================================================== */

.products-page-container {
    max-width: $width-lg;
    margin: 3rem auto;
    width: 90vw;
    display: grid;
    gap: 3rem 1.5rem;
}

.grid-products-container {
    display: grid;
    gap: 2rem 1.5rem;
    img {
        height: 220px;
    }
}

.product {
    display: grid;
    grid-template-rows: 1fr auto;
    .product-img-container {
        position: relative;
        display: grid;
        place-items: center;
        background-color: #222;
        border-radius: $radius-lg;
        height: 220px;
        transition: $transition;
        .product-img {
            border-radius: $radius-md;
            transition: $transition;
        }
        .product-link {
            color: $colorWhite;
            position: absolute;
            opacity: 0;
            background-color: $colorPrimary4;
            width: 35px;
            height: 35px;
            border-radius: 9999px;
            display: grid;
            place-items: center;
            transition: $transition;
            .product-icon {
                font-size: 1.1rem;
            }
        }
        .product-link:hover {
            background-color: $colorPrimary3;
        }
    }
    .product-img-container:hover .product-img {
        opacity: 0.8;
    }
    .product-img-container:hover .product-link {
        opacity: 1;
    }
    .product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        h6 {
            text-transform: capitalize;
            font-size: 18px;
        }
        p {
            color: darken($colorPrimary5, 5%);
            font-weight: 600;
        }
    }
}

@media screen and (min-width: $width-md) {
    .grid-products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $width-lg) {
    .grid-products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: $width-sm) {
    .product {
        .product-img-container {
            height: 175px;
        }
    }
    .grid-products-container {
        img {
            height: 175px;
        }
    }
    .products-page-container {
        grid-template-columns: 200px 1fr;
    }
}

/* END */
/* ==================================================================================================== */
