/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');

$colorPrimary1: hsl(22, 28%, 21%);
$colorPrimary2: hsl(22, 28%, 29%);
$colorPrimary3: hsl(22, 28%, 37%);
$colorPrimary4: hsl(22, 28%, 45%);
$colorPrimary5: hsl(22, 31%, 52%);
$colorPrimary6: hsl(22, 31%, 60%);
$colorPrimary7: hsl(22, 31%, 67%);
$colorPrimary8: hsl(20, 31%, 74%);
$colorPrimary9: hsl(22, 31%, 81%);
$colorPrimary10: hsl(22, 31%, 88%);
$colorSuccess: #198754;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorBlack: #000000;
$colorDark: #111827;
$colorGray: #4b5563;
$colorLight: #f3f4f6;
$colorWhite: #ffffff;
$fontPrimary: 'Inter var', sans-serif;
$transition: all 0.15s ease-in-out;
$spacingTight: -0.025em;
$spacingWide: 0.025em;
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $colorWhite;
    color: $colorDark;
    font-family: $fontPrimary;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn {
    font-size: 1rem;
    color: $colorWhite;
    background-color: $colorPrimary5;
    padding: 0.75rem 1rem;
    transition: $transition;
    border-radius: $radius-md;
    border: transparent;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: $colorPrimary3;
}

section {
    padding-top: 5rem;
}

/* NAVBAR */
/* ==================================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    display: grid;
    place-items: center;
    box-shadow: $shadow-md;
    background-color: $colorWhite;
    z-index: 10;
}

.nav-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
}

.nav-links {
    display: none;
    gap: 1.5rem;
    .nav-link {
        color: $colorDark;
        font-size: 1.2rem;
        transition: $transition;
    }
    .nav-link:hover {
        color: $colorPrimary5;
    }
}

.nav-cart-btn {
    display: none;
    color: $colorDark;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    .cart-icon-container {
        position: relative;
        display: grid;
        place-items: center;
        color: $colorPrimary2;
        .nav-cart-icon {
            font-size: 2.1rem;
            transition: $transition;
        }
        .cart-value {
            position: absolute;
            top: -0.7rem;
            right: -0.7rem;
            background: $colorPrimary5;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
        span {
            color: $colorPrimary5;
        }
    }
    .nav-toggle-btn {
        background-color: transparent;
        border: transparent;
        font-size: 1.7rem;
        color: $colorPrimary5;
        cursor: pointer;
        transition: $transition;
    }
    .nav-toggle-btn:hover {
        color: $colorPrimary3;
    }
}

@media screen and (min-width: $width-md) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-toggle-btn {
        display: none;
    }
    .nav-links,
    .nav-cart-btn {
        display: flex;
    }
}

/* FOOTER */
/* ==================================================================================================== */

.footer {
    height: 6rem;
    background-color: #222;
    color: $colorWhite;
    display: grid;
    place-items: center;
    padding: 1.25rem;
    h6 {
        font-weight: 500;
        span {
            color: $colorPrimary5;
        }
    }
}

@media screen and (min-width: $width-md) {
    .footer {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}

/* SIDEBAR */
/* ==================================================================================================== */

.sidebar {
    position: fixed;
    background: lighten($colorPrimary10, 5%);
    inset: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 10;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-container {
    margin: 0 auto;
    width: 90vw;
    height: 50vh;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    h4 {
        span {
            color: $colorPrimary5;
        }
    }
    .sidebar-toggle-btn {
        background-color: transparent;
        border: transparent;
        color: $colorPrimary2;
        transition: $transition;
        align-self: flex-end;
        cursor: pointer;
        svg {
            font-size: 1.9rem;
        }
    }
    .sidebar-toggle-btn:hover {
        color: $colorPrimary5;
    }
}

.sidebar-links {
    display: grid;
}

.sidebar-link {
    color: $colorDark;
    font-size: 1.1rem;
    transition: $transition;
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.sidebar-link:hover {
    padding-left: 0.5rem;
    background-color: $colorPrimary9;
}

.sidebar-cart-btn {
    display: flex;
    color: $colorDark;
    font-size: 1rem;
    margin-top: 1rem;
    .cart-icon-container {
        position: relative;
        color: $colorPrimary2;
        .sidebar-cart-icon {
            font-size: 2.1rem;
            transition: $transition;
        }
        .cart-value {
            position: absolute;
            top: -0.7rem;
            right: -0.7rem;
            background: $colorPrimary5;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width: $width-md) {
    .sidebar {
        transform: translateX(100%);
    }
}

/* ERROR PAGE */
/* ==================================================================================================== */

.error-page {
    height: calc(100vh - 6rem);
    display: grid;
    place-items: center;
    row-gap: 0;
    background-color: $colorPrimary10;
    .error-page-container {
        text-align: center;
        h1 {
            font-size: 6rem;
            margin-bottom: 0.25rem;
        }
        h3 {
            margin-bottom: 0.25rem;
        }
        .btn {
            text-transform: uppercase;
            margin-top: 1rem;
        }
        .btn:hover {
            background-color: $colorPrimary3;
        }
    }
}

.error {
    padding: 5rem 0;
    text-align: center;
    font-size: 2rem;
    min-width: 400px;
}

/* ABOUT PAGE */
/* ==================================================================================================== */

.about-page {
    min-height: calc(100vh - 5rem);
    .about-page-container {
        max-width: $width-lg;
        display: grid;
        row-gap: 1rem;
        width: 90vw;
        margin: 0 auto;
        padding: 3rem 0;
        img {
            max-height: 33rem;
        }
        .about-info {
            .title-underline {
                height: 5px;
                background-color: $colorPrimary5;
                width: 100px;
                margin-top: 0.25rem;
                text-align: center;
                border-radius: 9999px;
                margin-bottom: 1rem;
            }
            p {
                line-height: 2;
                font-weight: 500;
            }
        }
    }
    @media screen and (min-width: $width-md) {
        .about-page-container {
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    }
}

/* PAGE HERO */
/* ==================================================================================================== */

.page-hero {
    height: 10rem;
    background-color: $colorPrimary10;
    display: grid;
    align-items: center;
    .page-hero-container {
        max-width: $width-lg;
        margin: 0 auto;
        width: 90vw;
    }
    h4 {
        color: $colorPrimary2;
        text-transform: capitalize;
        .link {
            color: $colorPrimary5;
        }
    }
}

/* HOME PAGE */
/* ==================================================================================================== */

.home-page {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 6rem);
}

.home-page-container {
    max-width: $width-lg;
    margin: 3rem auto 5rem auto;
    width: 90vw;
}

.home-page-header {
    text-align: center;
    h3 {
        max-width: 300px;
        margin: 0 auto;
        line-height: 1.25;
        margin-bottom: 1rem;
    }
    p {
        line-height: 2;
        max-width: 450px;
        margin: 0 auto 1rem auto;
    }
    .btn {
        margin-bottom: 1rem;
        padding: 0.6rem 1rem;
    }
    @media screen and (min-width: $width-sm) {
        h3 {
            max-width: 350px;
        }
        p {
            max-width: 450px;
        }
    }
}

.home-page-image-container {
    display: block;
    position: relative;
    width: 70vw;
    max-width: 450px;
    margin: 2rem auto 0rem auto;
    .hero-img-main {
        width: 100%;
        height: 500px;
        position: relative;
        border-radius: $radius-md;
        display: block;
        object-fit: cover;
    }
    .hero-img-secondary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 150px;
        transform: translate(-50%, 17%);
        border-radius: $radius-md;
    }
    @media screen and (max-width: $width-lg) {
        .hero-img-secondary {
            display: none;
        }
    }
}
.home-page-image-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    background: $colorPrimary7;
    bottom: -5%;
    left: -8%;
    border-radius: $radius-md;
}

@media screen and (min-width: $width-md) {
    .home-page-image-container {
        width: 40vw;
        margin: 2rem auto 2rem auto;
        .hero-img-main {
            height: 450px;
        }
    }
    .home-page-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
    }
    .home-page-header {
        align-self: center;
        text-align: left;
        h3 {
            margin: 0;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
        p {
            line-height: 2;
            max-width: 500px;
            margin-bottom: 1.5rem;
        }
    }
}

@media screen and (min-width: $width-md) {
    .home-page-image-container {
        width: unset;
        margin: 2rem auto 2rem auto;
        .hero-img-main {
            height: 500px;
        }
    }
    .home-page-header {
        align-self: center;
        text-align: left;
        h3 {
            font-size: 2.5rem;
        }
    }
}

.home-page-services {
    background-color: $colorPrimary10;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.home-page-services-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 85vw;
    display: grid;
    row-gap: 2rem;
}

.home-page-service {
    background-color: $colorPrimary7;
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: $radius-sm;
    .service-icon {
        font-size: 2rem;
        background-color: $colorPrimary10;
        width: 50px;
        height: 50px;
        padding: 0.75rem;
        border-radius: 9999px;
        margin-bottom: 0.5rem;
    }
    h5 {
        margin-bottom: 0.25rem;
    }
}

@media screen and (min-width: $width-md) {
    .home-page-services-container {
        width: 90vw;
        display: flex;
        column-gap: 1.5rem;
    }
}

.home-page-contact {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.home-page-contact-container {
    max-width: $width-md;
    margin: 0 auto;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
}

.contact-info {
    h5 {
        margin-bottom: 0.5rem;
    }
    p {
        line-height: 1.75;
        color: darken($colorGray, 10%);
    }
}

.contact-form {
    display: flex;
    .contact-form-input {
        border: 2px solid #222;
        border-radius: $radius-sm;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: auto;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    .contact-form-input:focus {
        outline: none;
    }
    .contact-form-input::placeholder {
        color: darken($colorGray, 10%);
    }
    .submit-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 2px solid #222;
        border-left: 0px;
        flex: none;
        color: $colorDark;
        font-size: 1.1rem;
    }
    .submit-btn:hover {
        background-color: $colorPrimary6;
    }
}

@media screen and (max-width: 450px) {
    .contact-form {
        .contact-form-input {
            max-width: 250px;
            font-size: 1rem;
        }
        .submit-btn {
            font-size: 1rem;
            padding: 0.8rem 0.6rem;
        }
    }
}

@media screen and (min-width: $width-md) {
    .home-page-contact-container {
        width: 90vw;
    }
}

@media screen and (min-width: $width-xl) {
    .home-page-contact-container {
        max-width: $width-lg;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 2rem;
    }
}

/* FEATURED PRODUCTS */
/* ==================================================================================================== */

.featured-products {
    background-color: rgb(233, 244, 248);
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    position: relative;
    display: grid;
    place-items: center;
    h4 {
        margin-bottom: 0.25rem;
    }
    .title-underline {
        height: 0.25rem;
        width: 100px;
        background-color: $colorPrimary5;
        margin: 0 auto;
        border-radius: $width-sm;
        margin-bottom: 3rem;
    }
    .btn {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        margin-top: 2rem;
    }
}

.featured-products-container {
    display: grid;
    width: 85vw;
    margin: 0 auto;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    max-width: $width-lg;
}

.featured-product {
    display: grid;
    grid-template-rows: 1fr auto;
    .featured-product-img-container {
        position: relative;
        display: grid;
        place-items: center;
        background-color: #222;
        border-radius: $radius-lg;
        .featured-product-img {
            border-radius: $radius-md;
            transition: $transition;
            width: 100.1%;
        }
        .product-link {
            color: $colorWhite;
            position: absolute;
            opacity: 0;
            background-color: $colorPrimary4;
            width: 40px;
            height: 40px;
            border-radius: 9999px;
            display: grid;
            place-items: center;
            transition: $transition;
            .product-icon {
                font-size: 1.1rem;
            }
        }
        .product-link:hover {
            background-color: $colorPrimary3;
        }
    }
    .featured-product-img-container:hover .featured-product-img {
        opacity: 0.7;
    }
    .featured-product-img-container:hover .product-link {
        opacity: 1;
    }
    .featured-product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        h6 {
            text-transform: capitalize;
        }
        p {
            color: darken($colorPrimary5, 5%);
            font-weight: 600;
        }
    }
}

@media screen and (min-width: $width-md) {
    .featured-products-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 1.5rem;
        width: 90vw;
    }
}

@media screen and (min-width: $width-lg) {
    .featured-products-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .featured-product-info h6 {
        font-size: 18px;
    }
}

/* LOADER */
/* ==================================================================================================== */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 10rem;
    height: 10rem;
    margin: 2rem auto;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: $colorPrimary5;
    animation: spinner 0.6s linear infinite;
}

/* SINGLE PRODUCT PAGE */
/* ==================================================================================================== */

.single-product-page {
    min-height: calc(100vh - 6rem);
}

.single-product-container {
    max-width: $width-lg;
    margin: 3rem auto;
    width: 85vw;
    min-height: calc(100vh - 25rem);
    .products-link {
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
}

.single-product {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.single-product-img-container {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    img {
        cursor: pointer;
        min-height: 60px;
        max-height: 90px;
    }
}

.single-product-info-container {
    display: grid;
    row-gap: 0.5rem;
}

.product-main-img {
    border-radius: $radius-sm;
    max-height: 450px;
}

.product-alt-img {
    border-radius: $radius-sm;
    filter: brightness(60%);
}

.active {
    filter: brightness(100%);
}

.single-product-name {
    text-transform: capitalize;
}

.single-product-price {
    color: $colorPrimary4;
}

.single-product-desc {
    color: $colorGray;
    line-height: 1.75;
}

.single-product-info {
    display: grid;
    grid-template-columns: 125px 1fr;
    color: $colorDark;
    font-weight: 500;
    span {
        font-weight: 600;
    }
}

hr {
    max-height: 1px;
}

@media screen and (min-width: $width-lg) {
    .single-product {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .product-main-img {
        max-height: 325px;
    }
    .single-product-img-container {
        display: block;
    }
    .product-main-img {
        margin-bottom: 1.5rem;
    }
}

/* STARS */
/* ==================================================================================================== */

.stars-reviews {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}

.stars {
    color: #ffc107;
    display: flex;
}

.reviews {
    font-size: 14px;
}

/* ADD TO CART  */
/* ==================================================================================================== */

.add-to-cart {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.colors {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 18px;
    }
    div {
        display: flex;
        gap: 0.3rem;
    }
}

.color-btn {
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: none;
    background-color: $colorDark;
    cursor: pointer;
    display: grid;
    place-items: center;
    opacity: 0.5;
    svg {
        font-size: 10px;
        color: $colorWhite;
    }
}

.active-btn {
    opacity: 1;
}

.btn-container {
    .btn {
        padding: 0.5rem 1rem;
    }
}

.amount-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    margin-bottom: 1rem;
}

.amount-btn {
    background-color: transparent;
    border: transparent;
    font-size: 14px;
    cursor: pointer;
}

/* PRODUCTS PAGE */
/* ==================================================================================================== */

.products-page-container {
    max-width: $width-lg;
    margin: 3rem auto;
    width: 90vw;
    display: grid;
    gap: 3rem 2rem;
    min-height: calc(100vh - 27rem);
}

.grid-products-container {
    display: grid;
    gap: 2rem 1.5rem;
    img {
        height: 220px;
    }
    .product {
        display: grid;
        grid-template-rows: 1fr auto;
        .product-img-container {
            position: relative;
            display: grid;
            place-items: center;
            background-color: #222;
            border-radius: $radius-lg;
            height: 220px;
            transition: $transition;
            .product-img {
                border-radius: $radius-md;
                transition: $transition;
            }
            .product-link {
                color: $colorWhite;
                position: absolute;
                opacity: 0;
                background-color: $colorPrimary4;
                width: 35px;
                height: 35px;
                border-radius: 9999px;
                display: grid;
                place-items: center;
                transition: $transition;
                .product-icon {
                    font-size: 1.1rem;
                }
            }
            .product-link:hover {
                background-color: $colorPrimary3;
            }
        }
        .product-img-container:hover .product-img {
            opacity: 0.8;
        }
        .product-img-container:hover .product-link {
            opacity: 1;
        }
        .product-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.25rem;
            h6 {
                text-transform: capitalize;
                font-size: 16px;
            }
            p {
                color: darken($colorPrimary5, 5%);
                font-weight: 600;
            }
        }
    }
}

.list-products-container {
    display: grid;
    row-gap: 3rem;
    img {
        width: 100%;
        display: block;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: $radius-sm;
        margin-bottom: 1rem;
    }
    h6 {
        font-size: 22px;
        margin-bottom: 0.25rem;
        text-transform: capitalize;
    }
    .price {
        font-size: 18px;
        color: $colorPrimary5;
        margin-bottom: 0.5rem;
    }
    p {
        max-width: 37em;
        margin-bottom: 0.75rem;
    }
    .btn {
        font-size: 1rem;
        padding: 0.3rem 0.6rem;
    }
    @media screen and (min-width: $width-lg) {
        article {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 2rem;
            div {
                display: grid;
                height: 200px;
                .btn {
                    justify-self: start;
                }
                p {
                    max-height: 4.8rem;
                    overflow: hidden;
                }
            }
        }
    }
}

@media screen and (min-width: $width-md) {
    .grid-products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: $width-lg) {
    .grid-products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: $width-sm) {
    .grid-products-container {
        img {
            height: 175px;
        }
        .product {
            .product-img-container {
                height: 175px;
            }
        }
    }
    .products-page-container {
        grid-template-columns: 200px 1fr;
    }
}

/* SORT */
/* ==================================================================================================== */

.sort {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto;
    label {
        font-size: 1rem;
    }
    select {
        border-color: transparent;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }
    select:focus {
        outline: none;
        box-shadow: 0 0 4px 1px rgb(173, 216, 230);
    }
}
.sort-buttons-container {
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    button {
        border: 1px solid $colorDark;
        display: grid;
        place-items: center;
        border-radius: $radius-sm;
        padding: 0.2rem;
        cursor: pointer;
        svg {
            font-size: 1rem;
        }
    }
}

.grid-button,
.list-button {
    background-color: $colorWhite;
}

.grid-button-active,
.list-button-active {
    background: $colorDark;
    color: $colorWhite;
    svg {
        color: $colorWhite;
    }
}

.products-count {
    font-size: 14px;
}

.connector {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    border-radius: 9999px;
}

@media screen and (min-width: $width-md) {
    .sort {
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
        column-gap: 1rem;
    }
    .sort-buttons-container {
        margin: 0;
    }
}

/* FILTERS */
/* ==================================================================================================== */

.filters {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    max-height: 700px;
    margin-top: 1rem;
}

.form-control {
    h6 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0.3rem;
    }
}

.search-input {
    font-size: 1rem;
    width: 200px;
    padding: 0.625rem;
    border: 1px solid rgb(209, 213, 219);
    background-color: lighten(#f1f5f8, 1%);
    border-radius: $radius-lg;
}

.search-input:focus {
    outline: 1px solid rgba(63, 131, 248, 0.5);
}

.category-buttons {
    display: grid;
    place-items: start;
    row-gap: 0.5rem;
}

.category-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    color: $colorGray;
    text-align: left;
    transition: $transition;
    height: 20px;
}

#company {
    border: none;
    background-color: #f1f5f8;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: $radius-sm;
    text-transform: capitalize;
    option {
        text-transform: capitalize;
    }
}

#company:focus {
    outline: 2px solid rgba(63, 131, 248, 0.5);
}

.color-buttons {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.color-btn-all {
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.color-btn-all-active {
    border-bottom: 1px solid $colorDark;
}

.color-btn-active {
    opacity: 1;
}

.category-btn-active {
    border-bottom: 1px solid $colorDark;
}

.clear-btn {
    background-color: darken($colorDanger, 15%);
    transition: $transition;
    width: 115px;
    max-height: 28px;
    padding: 0.3rem;
}

#price {
    margin-top: 0.25rem;
}

#shipping {
    background-color: #f9fafb;
    width: 1rem;
    height: 1rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #d1d5db;
}

.filters {
    .form-control:last-of-type {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        label {
            font-weight: 500;
        }
    }
}

.clear-btn:hover {
    background-color: darken($colorDanger, 5%);
}

/* CART PAGE */
/* ==================================================================================================== */

.cart-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
    min-height: calc(100vh - 21rem);
}

hr {
    border-top: 1px solid lighten($colorGray, 30%);
    margin: 1.5rem 0;
}

.top-hr {
    display: none;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    .btn {
        padding: 0.4rem 0.8rem;
    }
    .clear-shopping-btn {
        background-color: #222;
    }
    .clear-shopping-btn:hover {
        background-color: darken(#222, 10%);
    }
}

.cart-total {
    display: grid;
    place-items: center;
    width: 80vw;
    margin: 0rem auto 2rem auto;
    .login-btn {
        width: 100%;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: $spacingWide;
        max-width: 400px;
        margin-bottom: 1rem;
    }
}

.cart-total-container {
    border: 1px solid lighten($colorGray, 30%);
    padding: 2rem 3rem;
    border-radius: $radius-md;
    width: 100%;
    max-width: 400px;
    margin: 0rem auto 1rem auto;
    display: grid;
    row-gap: 1rem;
    hr {
        margin: 0;
        border-top: 1px solid lighten($colorGray, 30%);
    }
    p {
        justify-self: left;
        font-weight: 500;
        font-size: 1.1rem;
        display: grid;
        grid-template-columns: 200px 1fr;
        span {
            font-weight: 400;
        }
    }
    p:nth-of-type(3) {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width: 450px) {
    .cart-total {
        width: 90vw;
    }
    .cart-total-container {
        padding: 2rem 1rem;
        p {
            font-size: 1rem;
        }
    }
    .cart-buttons {
        .btn {
            font-size: 14px;
        }
    }
}

.cart-titles {
    display: none;
}

@media screen and (min-width: $width-md) {
    .cart-total {
        width: auto;
    }
    .cart-total-container,
    .login-btn {
        justify-self: end;
        margin: 0;
        margin-bottom: 1rem;
        align-self: end;
    }
}

.cart-items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    width: 90vw;
    margin: 2rem auto;
    max-width: $width-lg;
}

.cart-price,
.cart-subtotal {
    display: none;
}

.cart-item {
    width: 100%;
    display: grid;
    grid-template-columns: 240px auto auto;
    align-items: center;
    gap: 0.5rem;
    .cart-title {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 1rem;
        img {
            width: 85px;
            height: 85px;
            border-radius: $radius-sm;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
        }
        div {
            p:nth-of-type(1) {
                font-weight: 600;
            }
            p:nth-of-type(2) {
                color: $colorGray;
            }
            p:nth-of-type(3) {
                color: $colorPrimary5;
                font-weight: 500;
            }
            p {
                display: flex;
                align-items: center;
                text-transform: capitalize;
                gap: 0.5rem;
                span {
                    width: 12px;
                    height: 12px;
                    margin-top: 0.15rem;
                }
            }
        }
    }
    .amount-buttons {
        justify-self: center;
        gap: 1rem;
        margin: 0;
        h6 {
            font-size: 2rem;
        }
    }
    .trash-btn {
        align-self: center;
        justify-self: end;
        margin-right: 1rem;
        background-color: $colorDanger;
        color: $colorWhite;
        width: 30px;
        height: 30px;
        border-radius: $radius-sm;
        display: grid;
        place-items: center;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: $transition;
    }
    .trash-btn:hover {
        background-color: darken($colorDanger, 15%);
    }
}

@media screen and (min-width: $width-md) {
    .cart-titles {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 270px auto auto 100px 75px;
        margin-bottom: -2rem;
        column-gap: 1rem;
        h6 {
            font-size: 18px;
            color: $colorGray;
            font-weight: 400;
            justify-self: center;
        }
    }
    .cart-item {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 270px auto auto 100px 75px;
        column-gap: 1rem;
        .cart-title {
            p:nth-of-type(3) {
                display: none;
            }
        }
        h6 {
            font-size: 1rem;
            justify-self: center;
        }
        .cart-price {
            color: $colorPrimary5;
            font-weight: 500;
            justify-self: center;
        }
        .amount-buttons {
            width: 100px;
            display: grid;
            grid-template-columns: 1fr 25px 1fr;
            place-items: center;
            h6 {
                font-size: 1.5rem;
            }
        }
        .cart-subtotal {
            justify-self: center;
        }
    }
    .cart-price,
    .cart-subtotal,
    .top-hr {
        display: unset;
    }
}

@media screen and (min-width: $width-lg) {
    .cart-titles {
        grid-template-columns: 270px auto auto 170px 100px;
    }
    .cart-item {
        grid-template-columns: 270px auto auto 170px 100px;
    }
}

.empty-cart-page {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
    min-height: calc(100vh - 6rem);
    display: grid;
    justify-self: center;
    text-align: center;
    div {
        margin-top: 5rem;
        h3 {
            letter-spacing: $spacingWide;
            margin-bottom: 1rem;
        }
        .btn {
            padding: 0.4rem 0.8rem;
            letter-spacing: $spacingWide;
        }
    }
}

/* END */
/* ==================================================================================================== */
