/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$colorPrimary: #ff9332;
$colorPrimary1: #7c2d12;
$colorPrimary2: #9a3412;
$colorPrimary3: #c2410c;
$colorPrimary4: #ea580c;
$colorPrimary5: #f97316;
$colorPrimary6: #fb923c;
$colorPrimary7: #fdba74;
$colorPrimary8: #fed7aa;
$colorPrimary9: #ffedd5;
$colorPrimary10: #fff7ed;
$colorSuccess: #198754;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorBlack: #000000;
$colorDark: #0d0d0d;
$colorGray: #71717a;
$colorLight: #f3f4f6;
$colorWhite: #ffffff;
$fontPrimary: 'Inter var', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$transition: all 0.15s ease-in-out;
$spacingTight: -0.025em;
$spacingWide: 0.025em;
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $colorBlack;
    color: $colorWhite;
    font-family: $fontPrimary;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
    color: $colorDark;
    background-color: $colorPrimary;
    transition: $transition;
    border-radius: $radius-2xl;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    font-family: $fontSecondary;
    box-shadow: 0 0 1px 1px ($colorPrimary);
}

.btn:hover {
    background-color: lighten($colorPrimary, 10%);
}

main {
    padding: 6.5rem 0 2.5rem 0;
    min-height: calc(100vh - 5rem);
}

/* NAVBAR */
/* ==================================================================================================== */

.nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: $colorDark;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #222;
    z-index: 15;
}

.nav-change {
    border-color: #333;
    background-color: #1a1a1a;
}

.nav-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
    div {
        display: flex;
    }
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
        font-weight: 600;
        span {
            color: $colorPrimary;
        }
    }
    div {
        display: grid;
        place-items: center;
        .nav-toggle {
            background-color: transparent;
            color: $colorWhite;
            transition: all 0.3s linear;
            border: none;
            display: none;
            cursor: pointer;
            svg {
                font-size: 2rem;
            }
        }
        .nav-open {
            color: #b2b2b2;
        }
        .nav-open:hover {
            color: $colorWhite;
        }
        .nav-close {
            color: $colorWhite;
        }
        .nav-close:hover {
            color: #b2b2b2;
        }
        .nav-open,
        .nav-close {
            display: unset;
        }
        @media screen and (min-width: $width-md) {
            .nav-open,
            .nav-close {
                display: none;
            }
        }
    }
}

.nav-links {
    gap: 1.25rem;
    font-size: 18px;
    align-items: center;
}

.nav-link {
    color: $colorWhite;
    transition: $transition;
}

.nav-link:hover {
    color: lighten($colorPrimary, 10%);
}

.navbar-login-btn {
    color: $colorWhite;
    background: none;
    box-shadow: none;
}

.navbar-login-btn:hover {
    color: $colorPrimary;
    background-color: transparent;
}

.nav-links,
.navbar-login-btn,
.navbar-register-btn {
    display: none;
}

.content-divider-vertical {
    height: 25px;
    width: 2px;
    background-color: $colorPrimary;
    border-radius: 9999px;
}

@media screen and (min-width: $width-md) {
    .nav-toggle-container,
    .nav-toggle {
        display: none;
    }
    .nav-links,
    .navbar-login-btn,
    .navbar-register-btn {
        display: flex;
    }
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* SIDEBAR */
/* ==================================================================================================== */

.sidebar {
    position: fixed;
    background: #1a1a1a;
    margin-top: 4rem;
    width: 100%;
    height: calc(100vh - 4rem);
    transform: translateX(100%);
    z-index: 10;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.25rem;
    }
}

.sidebar-register-btn {
    width: 120px;
    background-color: $colorPrimary;
    border: transparent;
    outline: none;
    box-shadow: none;
    color: $colorBlack;
    margin: 1rem 0rem 0rem 2rem;
    font-size: 18px;
}
.sidebar-register-btn:hover {
    background-color: lighten($colorPrimary, 10%);
}

.sidebar-login-btn {
    width: 100px;
    background-color: #333333;
    border: transparent;
    outline: none;
    box-shadow: none;
    color: #cccccc;
    margin: 1rem 0rem 0rem 2rem;
    font-size: 18px;
}
.sidebar-login-btn:hover {
    background-color: darken(#ccc, 50%);
}

.sidebar-links {
    display: grid;
    margin-top: 0.5rem;
}

.sidebar-link {
    color: #cccccc;
    font-size: 1.1rem;
    transition: $transition;
    display: block;
    padding: 0.5rem 0.5rem 0.5rem 2.75rem;
    font-weight: 400;
}

.sidebar-link:hover {
    background-color: #333;
}

.content-divider {
    height: 1px;
    width: 90vw;
    background-color: #333;
    margin: 1rem auto;
}

@media screen and (min-width: $width-md) {
    .sidebar {
        transform: translateX(100%);
    }
}

/* FOOTER */
/* ==================================================================================================== */

.footer {
    height: 5rem;
    background-color: $colorDark;
    color: $colorWhite;
    display: grid;
    place-items: center;
    padding: 0.75rem;
    h6 {
        font-weight: 500;
        span {
            color: $colorPrimary;
        }
    }
}

@media screen and (min-width: $width-md) {
    .footer {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}

/* LOADER */
/* ==================================================================================================== */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    justify-self: center;
    align-self: center;
    margin: 1rem 0;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $colorPrimary;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $colorPrimary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* PAGE HERO */
/* ==================================================================================================== */

.page-hero {
    text-align: center;
    max-width: $width-sm;
    margin: 0 auto;
    h4 {
        color: #e5e5e5;
        margin-bottom: 1rem;
    }
    h6 {
        color: #b3b3b3;
        font-weight: 400;
    }
}

/* FEATURED COINS */
/* ==================================================================================================== */

.featured-coins {
    display: grid;
    row-gap: 1rem;
    margin: 2rem auto;
}

.featured-coins-box {
    padding: 1rem;
    border-radius: $radius-xl;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.coins-box-title {
    color: #b3b3b3;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.coins-box-value {
    font-size: 22px;
    font-weight: 600;
    color: $colorWhite;
}

.coins-box-change-value {
    font-size: 20px;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    border-radius: $radius-lg;
}

@media screen and (max-width: 420px) {
    .featured-coins-box {
        width: 300px;
        .coins-box-value-container {
            display: grid;
        }
    }
    .coins-box-value {
        margin-bottom: 0.5rem;
    }
    .coins-box-change-value {
        display: flex;
        width: max-content;
    }
}

@media screen and (min-width: 840px) {
    .featured-coins {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .featured-coins-box {
        width: 370px;
    }
}

@media screen and (min-width: $width-xl) {
    .featured-coins {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* COINS PAGE */
/* ==================================================================================================== */

.coins-container {
    display: flex;
    flex-direction: column;
    max-width: $width-xl;
    margin: 0 auto;
    width: 90vw;
}

.coins-table {
    display: grid;
}

.coins-box {
    display: grid;
    border: 1px solid #1a1a1a;
    border-radius: $radius-lg;
}

/* COINS LIST */
/* ==================================================================================================== */

.coins-list {
    display: grid;
}

.coin {
    display: grid;
    grid-template-columns: 15px 140px 1fr 1fr 15px;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
    transition: $transition;
    padding: 0.6rem 1rem;
    color: $colorWhite;
}

.coin:hover {
    background-color: #0f0f0f;
}

.coin-number {
    justify-self: start;
    margin-right: 0.5rem;
    color: #b3b3b3;
}

.coin-image {
    width: 35px;
    height: 35px;
}

.coin-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-self: start;
}

.coin-growth {
    width: 90px;
    border-radius: $radius-md;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}

.coin-price {
    justify-self: center;
}

.coin-track {
    justify-self: end;
    background-color: transparent;
    color: $colorSuccess;
    border: none;
    display: grid;
    place-items: center;
    transition: $transition;
    cursor: pointer;
    svg {
        font-size: 22px;
    }
}

.coin-track:hover {
    color: lighten($colorSuccess, 10%);
    box-shadow: 0 0 2px 1px #198754;
}

.coin-price-btc,
.coin-market-cap,
.coin-price-low,
.coin-price-high {
    display: none;
}

.value-green {
    color: $colorSuccess;
}

.value-red {
    color: $colorDanger;
}

.box-green {
    background-color: rgba(52, 199, 89, 0.1);
}

.box-red {
    background-color: rgba(255, 68, 68, 0.1);
}

.bright-box-green {
    background-color: rgba(8, 209, 88, 0.1);
}

.bright-box-red {
    background-color: rgba(255, 68, 68, 0.1);
}

.active {
    color: $colorPrimary;
}

.active-filters {
    color: lighten($colorPrimary, 10%) !important;
}

.active-filters:hover {
    background-color: #333333 !important;
}

.filter-error {
    text-align: center;
    margin: 3rem 0;
    color: #b3b3b3;
    font-weight: 500;
}

@media screen and (max-width: 490px) {
    .coin {
        grid-template-columns: 20px 1fr 1fr 15px;
    }
    .coin-growth {
        display: none;
    }
}

@media screen and (min-width: $width-md) {
    .coin-price-btc,
    .coin-market-cap {
        color: #b3b3b3;
        display: unset;
        justify-self: center;
    }
    .coin {
        grid-template-columns: 15px 140px 1fr 1fr 1fr 1fr 15px;
    }
}

@media screen and (min-width: $width-lg) {
    .coin-price-low,
    .coin-price-high {
        color: #b3b3b3;
        display: unset;
        justify-self: center;
    }
    .coin {
        grid-template-columns: 15px 140px 1fr 1fr 1fr 1fr 1fr 1fr 15px;
    }
}

/* COINS SORT */
/* ==================================================================================================== */

.coins-sort-price-in-btc,
.coins-sort-market-cap,
.coins-sort-low,
.coins-sort-high {
    display: none;
}

.coins-sort-number,
.coins-sort-name,
.coins-sort-growth,
.coins-sort-price,
.coins-sort-track {
    display: flex;
}

.coins-sort {
    display: grid;
    grid-template-columns: 15px 125px 1fr 1fr 25px;
    gap: 1rem;
    padding: 0.6rem 1rem;
}

.coins-sort-btn {
    align-items: center;
    gap: 1.25rem;
    background-color: transparent;
    color: #8c8c8c;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    justify-self: center;
}

.coins-sort-name {
    margin-right: 1.5rem;
}

.sorting-arrows {
    position: relative;
    height: 1.5rem;
    svg {
        font-size: 16px;
        position: absolute;
        color: #4d4d4d;
        transition: $transition;
    }
    .active-sort {
        color: $colorPrimary;
    }
    svg:nth-of-type(1) {
        top: 0;
    }
    svg:nth-of-type(2) {
        bottom: 0;
    }
}

@media screen and (max-width: 490px) {
    .coins-sort-number {
        margin-right: 1rem;
    }
    .coins-sort-name {
        justify-self: start;
        margin-left: 1rem;
    }
    .coins-sort {
        grid-template-columns: 25px 1fr 1fr 25px;
    }
    .coins-sort-growth {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .coins-sort {
        padding: 0.25rem 0.75rem;
    }
    .coin {
        grid-template-columns: 15px 100px 1fr 15px;
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (min-width: $width-md) {
    .coins-sort-price-in-btc,
    .coins-sort-market-cap {
        display: flex;
    }
    .coins-sort {
        grid-template-columns: 15px 140px 1fr 1fr 1fr 1fr 30px;
    }
}

@media screen and (min-width: $width-lg) {
    .coins-sort-low,
    .coins-sort-high {
        display: flex;
    }
    .coins-sort {
        grid-template-columns: 15px 140px 1fr 1fr 1fr 1fr 1fr 1fr 20px;
    }
}

/* COINS FILTERS */
/* ==================================================================================================== */

.coins-filters {
    max-width: 590px;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBlack;
    border: 1px solid #333333;
    padding: 0.6rem 1rem;
    border-radius: 9999px;
    flex-grow: 1;
    span {
        display: grid;
        color: #b3b3b3;
        svg {
            font-size: 1.25rem;
        }
    }
}

.search-filter {
    width: 100%;
    background-color: $colorBlack;
    border: none;
    font-size: 1rem;
    color: #b3b3b3;
    caret-color: $colorPrimary;
}

.search-filter:focus {
    outline: none;
}

.add-filter-btn {
    border-radius: 9999px;
    font-weight: 500;
    background-color: #222;
    color: $colorWhite;
    box-shadow: none;
    padding: calc(0.6rem + 2px) 1.2rem;
    white-space: nowrap;
}

.add-filter-btn:hover {
    color: $colorBlack;
    background-color: $colorPrimary;
}

.extra-filters {
    position: fixed;
    background: rgba(35, 41, 48, 0.5);
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 30;
    backdrop-filter: blur(5px);
}

.extra-filters-container {
    background: $colorDark;
    padding: 2rem;
    border-radius: $radius-lg;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    .content-divider {
        width: auto;
    }
    .content-divider:nth-of-type(4) {
        margin-top: 2rem !important;
    }
}

.modal-open {
    display: grid;
}

.modal-close {
    display: none;
}

.extra-filters-header {
    text-align: center;
    margin-bottom: 1rem;
    h6 {
        font-weight: 500;
    }
}

.extra-filters-toggle {
    background-color: transparent;
    border: none;
    color: rgb(100, 107, 128);
    cursor: pointer;
    svg {
        font-size: 1.75rem;
    }
    :hover {
        color: $colorWhite;
    }
}

.extra-filters-inputs {
    display: grid;
    row-gap: 1rem;
}

.extra-filters-input-container {
    div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.extra-filters-input {
    background-color: transparent;
    border: 1px solid #333333;
    font-size: 1rem;
    border-radius: $radius-lg;
    color: $colorWhite;
    padding: 0.5rem 1rem;
    letter-spacing: $spacingWide;
    caret-color: $colorPrimary;
    outline-color: $colorPrimary;
    color: lightgray;
    width: 100%;
    min-width: 250px;
}

.extra-filters-input:focus {
    outline: 1px solid $colorPrimary;
}

.extra-filters-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.close-button {
    background-color: #333333;
    color: $colorWhite;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: $radius-lg;
    box-shadow: 0 0 1px 1px #333333;
    cursor: pointer;
    transition: $transition;
}

.close-button:hover {
    background-color: lighten(#333, 5%);
}

.apply-filter-button {
    background-color: $colorPrimary;
    color: $colorBlack;
    font-size: 1rem;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: $radius-lg;
    cursor: pointer;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}

.current-filter-container {
    display: none;
    align-items: center;
    gap: 0.75rem;
    .remove-filter-btn {
        display: grid;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-top-right-radius: $radius-lg;
        border-bottom-right-radius: $radius-lg;
        color: $colorDanger;
        transition: $transition;
        svg {
            font-size: 22px;
            margin-top: 0.1rem;
        }
    }
    .remove-filter-btn:hover {
        color: lighten($colorDanger, 10%);
    }
}

.current-filter {
    background-color: #333;
    padding: 0.5rem 0.75rem;
    border-radius: $radius-md;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 14px;
}

.show-current-filter-container {
    display: flex;
}

@media screen and (max-width: 676px) {
    .extra-filters-input-container {
        div:nth-of-type(1) {
            flex-direction: column;
            gap: 0.5rem;
        }
    }
    .extra-filters-input-container p {
        align-self: baseline;
        margin-left: 0.25rem;
        color: gray;
    }
    .extra-filters-container {
        padding: 1rem 2rem;
    }
    .input-header {
        margin-top: 1rem;
    }
    .extra-filters-input {
        min-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .extra-filters-container {
        padding: 1rem;
    }
}

/* COINS PAGINATION */
/* ==================================================================================================== */

.pagination {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.prev-btn,
.next-btn {
    display: none;
    background-color: $colorPrimary;
    color: $colorBlack;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: $radius-md;
    text-transform: capitalize;
    gap: 0.25rem;
    cursor: pointer;
    transition: $transition;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: lighten($colorPrimary, 10%);
}

.page-btn {
    display: grid;
    place-items: center;
    background-color: $colorDark;
    color: $colorGray;
    border: none;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 500;
}

.active-page {
    background-color: $colorPrimary;
    color: $colorBlack;
}

@media screen and (min-width: $width-md) {
    .pagination {
        max-width: $width-xl;
    }
    .prev-btn,
    .next-btn {
        display: flex;
    }
    .prev-btn {
        margin-right: 2rem;
    }
    .next-btn {
        margin-left: 2rem;
    }
}

/* EXCHANGES PAGE */
/* ==================================================================================================== */

.exchanges-container {
    display: flex;
    flex-direction: column;
    max-width: $width-xl;
    margin: 0 auto;
    .page-hero {
        width: 90vw;
    }
}

.exchanges-table {
    background-color: #0d0d0d;
    padding: 1.5rem 2rem;
    margin-top: 1rem;
}

/* EXCHANGES LIST */
/* ==================================================================================================== */

.exchanges-list {
    display: grid;
    row-gap: 1rem;
    padding: 2rem 0rem;
}

.exchange {
    display: grid;
    padding: 1rem;
    background-color: lighten(#0d0d0d, 3%);
    margin: 0 auto;
    border-radius: $radius-lg;
    width: 100%;
}

.exchange-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.exchange-logo {
    width: 40px;
    height: 40px;
    border-radius: $radius-md;
}

.exchange-title {
    font-weight: 500;
}

.exchange-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0;
    color: #d0d0d0;
}

.exchange-data {
    display: grid;
    margin: 0.4rem 0;
}

.exchange-data-title {
    color: $colorGray;
    text-transform: uppercase;
    font-size: 14px;
}

.exchange-data-value {
    font-size: 1rem;
    max-width: 13rem;
    word-wrap: break-word;
    font-weight: 500;
}

.data-container-column-two .exchange-data-title,
.data-container-column-two .exchange-data-value {
    justify-self: end;
}

@media screen and (min-width: $width-sm) {
    .exchange,
    .exchanges-sort {
        max-width: calc($width-sm - 2rem);
        margin: 0 auto;
    }
}

@media screen and (min-width: 840px) {
    .exchanges-list,
    .exchanges-sort {
        max-width: $width-lg;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin: 0 auto;
    }
    .exchange-data-value {
        max-width: 15rem;
    }
}

@media screen and (min-width: $width-xl) {
    .exchanges-list,
    .exchanges-sort {
        max-width: $width-xl;
    }
    .exchanges-table {
        border-radius: $radius-lg;
    }
    .exchange-data-value {
        max-width: 25rem;
    }
}

@media screen and (max-width: 450px) {
    .exchange-data-container {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0.5rem 0;
    }
    .data-container-column-two .exchange-data-title,
    .data-container-column-two .exchange-data-value {
        justify-self: center;
    }
    .exchange-header {
        display: grid;
        justify-items: center;
        justify-self: center;
        text-align: center;
    }
    .exchange-data-container {
        justify-self: center;
    }
    .exchange-data {
        justify-self: center;
        text-align: center;
    }
}

/* EXCHANGES SORT */
/* ==================================================================================================== */

.exchanges-sort {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    div {
        display: grid;
        row-gap: 0.5rem;
    }
    label {
        color: #71717a;
    }
    select {
        border-color: transparent;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        background-color: lighten(#0d0d0d, 3%);
        color: #d0d0d0;
        appearance: none;
        border-radius: $radius-md;
        font-weight: 500;
        cursor: pointer;
    }
    select:focus {
        outline: none;
    }
}

.exchanges-table {
    .pagination {
        flex-wrap: nowrap;
        div {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .page-btn {
        background-color: #151515 !important;
    }
    .active-page {
        background-color: $colorPrimary !important;
    }
}

@media screen and (min-width: $width-sm) {
    .exchanges-table {
        .pagination {
            max-width: 550px;
        }
    }
}

@media screen and (min-width: 840px) {
    .exchanges-table {
        .pagination {
            max-width: $width-sm;
        }
    }
}

@media screen and (min-width: 870px) {
    .exchanges-table {
        .pagination {
            max-width: $width-lg;
        }
    }
}

/* SINGLE COIN */
/* ==================================================================================================== */

.single-coin-container {
    display: flex;
    flex-direction: column;
    max-width: $width-xl;
    margin: 0 auto;
    width: 90vw;
}

/* SINGLE COIN HEADER */
/* ==================================================================================================== */

.single-coin-rank {
    background-color: $colorPrimary;
    color: $colorBlack;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: $radius-md;
    font-weight: 600;
    max-width: fit-content;
}

.single-coin-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.single-coin-image {
    width: 50px;
    height: 50px;
}

.single-coin-name-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.single-coin-name,
.single-coin-symbol {
    font-weight: 500;
}

.single-coin-symbol {
    align-self: end;
    text-transform: uppercase;
    color: $colorGray;
}

.single-coin-price-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.single-coin-price {
    font-size: 1.75rem;
    font-weight: 600;
}

.single-coin-header-container {
    display: grid;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
}

.single-coin-price-change {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: $radius-md;
    font-weight: 600;
    font-size: 18px;
    span {
        display: grid;
        margin-top: 0.15rem;
        svg {
            font-size: 1.25rem;
        }
    }
}

/* END */
/* ==================================================================================================== */
