/* GLOBAL STYLES & IMPORTS */
/* ==================================================================================================== */

@import url('https://rsms.me/inter/inter.css');

$colorPrimary1: #dbeafe;
$colorPrimary2: #bfdbfe;
$colorPrimary3: #93c5fd;
$colorPrimary4: #60a5fa;
$colorPrimary5: #3b82f6;
$colorPrimary6: #2563eb;
$colorPrimary7: #1d4ed8;
$colorPrimary8: #1e40af;
$colorPrimary9: #1e3a8a;
$colorSuccess: #198754;
$colorDanger: #dc3545;
$colorWarning: #ffc107;
$colorBlack: #000000;
$colorDark: #111827;
$colorGray: #4b5563;
$colorLight: #f3f4f6;
$colorWhite: #ffffff;
$fontPrimary: 'Inter var', sans-serif;
$transition: all 0.15s ease-in-out;
$spacingTight: -0.025em;
$spacingWide: 0.025em;
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fontPrimary;
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}
h2 {
    font-size: 3rem;
    line-height: 1;
}
h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
h5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.btn {
    font-size: 1rem;
    color: $colorWhite;
    background-color: $colorPrimary6;
    padding: 0.75rem 1rem;
    transition: $transition;
    border-radius: $radius-md;
    border: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: $colorPrimary7;
}

.pink {
    color: #ec4899;
    background-color: lighten(#ec4899, 25%);
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 9999px;
}
.green {
    color: #16a34a;
    background-color: lighten(#16a34a, 25%);
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 9999px;
}
.purple {
    color: #9333ea;
    background-color: lighten(#9333ea, 25%);
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 9999px;
}
.yellow {
    color: #eab308;
    background-color: lighten(#eab308, 25%);
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 9999px;
}

/* ERROR PAGE */
/* ==================================================================================================== */

.error-page {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: $colorPrimary1;
    text-align: center;
    padding: 20rem 0;
    h1 {
        font-size: 10rem;
        color: $colorDark;
        font-weight: 600;
    }
    h3 {
        color: $colorGray;
        font-weight: 500;
    }
    .btn {
        text-transform: uppercase;
        letter-spacing: $spacingWide;
    }
}

/* LOGIN PAGE */
/* ==================================================================================================== */

.login-page {
    min-height: 100vh;
    display: grid;
    place-items: center;
    .container {
        width: 90vw;
        max-width: 600px;
        text-align: center;
        h1 {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: $colorDark;
        }
        .btn {
            text-transform: uppercase;
            letter-spacing: $spacingWide;
        }
    }
}

/* DASHBOARD PAGE */
/* ==================================================================================================== */

.dashboard {
    min-height: 100vh;
    background-color: $colorPrimary1;
}

.dashboard-info {
    display: grid;
    place-items: center;
}

.info-container {
    max-width: $width-lg;
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    article {
        border-radius: $radius-sm;
        background-color: white;
        padding: 0.5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            .icon {
                font-size: 1.6rem;
            }
        }
        div {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;

            p {
                text-transform: capitalize;
            }
        }
    }
}

@media screen and (min-width: $width-md) {
    .info-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: $width-lg) {
    .info-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* END */
/* ==================================================================================================== */
